{% extends 'base.html.twig' %}

{% block title %}Hello ClasseController!{% endblock %}

{% block body %}

<table class="table  table-striped  mt-5">
    <tr class="bg-info">
        <th>#</th>
        <th>RP's Name</th>
        <th>RP's Login</th>
        <th>Filiere</th>
        <th>Niveau</th>
        <th>Libelle</th>
    </tr>
    {%set i=0 %}
    {% for classe in classes %}
        <tr>
            <td>{% set i=i+1 %}{{i}}</td>
            <td>{{classe.rp.nomComplet}}</td>
            <td>{{classe.rp.login}}</td>
            <td>{{classe.filiere}}</td>
            <td>{{classe.niveau}}</td>
            <td>{{classe.libelle}}</td>
        </tr>
    {% endfor %}
</table>
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(classes) }}
</div>
{% endblock %}