{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
<div class="row d-flex justify-content-around">
<h1>{{ title }}</h1>
<a class="nav-link  bg-primary text-white offset-6" href="{{path('add_etudiant')}}">Inscrire un etudiant</a>
</div>
<table class="table  table-striped  mt-3">
    <tr class="bg-primary">
        <th>Nom complet</th>
        <th>Email</th>
        <th>Adresse</th>
        <th>L'attache </th>
        <th>Actions</th>
    </tr>
    {% for ins in etudiants %}
        <tr>
            <td>{{ins.etudiant.nomComplet}}</td>
            <td>{{ins.etudiant.login}}</td>
            <td>{{ins.etudiant.adresse}}</td>
            <td>{{ins.ac.nomComplet}}</td>
            <td  class="text-center">
                <a class="btn btn-warning btn-sm">Modifier</a>
                <a class="btn btn-danger btn-sm">Supprimer</a>
                <a href="/professeur/<?=$ins->id?>" class="btn btn-outline-primary btn-sm " >Details</a>
            </td>
        </tr>
    {% endfor %}
</table>
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(etudiants) }}
</div>
</div>
{% endblock %}